body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #fff;

}

 



@import './style2.scss';
@import './components/header';
@import './components/global';
@import './components/button';
@import './components/information';
@import './components/directions';
@import './components/offer';
@import './components/map';