.header{
  height: 940px;
  background-image: url(.././images/main-screen.jpg);
  background-size: cover;
  background-position: center;

  &__top{
    display: flex;
    justify-content: space-around;
  }

  
    
}
