.footer{
    min-height: 331px;
    background: #202020;

    &__top{
        display: flex;
        justify-content: space-between;
        padding: 39px 0 26px;
        border-bottom: 1px solid #FFFFFF;

        &-title{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            text-transform: uppercase;

            color: #FFFFFF;
        }

        &-link{
            font-size: 16px;
            margin-top: 17px;
                        
        }


    }

    &__block{
        display: flex;
        flex-direction: column;
        line-height: 130%;
    }

    &__bottom{
        padding: 32px 0 45px;

        &-title{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            line-height: 130%;
        }

        &-text{
            color: #FFFFFF;
            font-size: 14px;
            line-height: 130%;
            opacity: 0.8;
        }
    }
}