.header{
  height: 940px;
  background-image: url(.././images/main-screen.jpg);
  background-size: cover;
  background-position: center;

  &__top{
    height: 81px;
    border-bottom: 1px solid #D9D9DE;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    display: flex;
    align-items: center;

    &-link{
      margin-right: 20px;

     
    }

    &-title{
      width: 210px;
      color: #fff;
      font-size: 20px;
      margin: 0;
    }

    &-modification{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
  }

  &__information{
    display: flex;
    position: relative;

    &-email{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;

      color:#fff;

      position: relative;

      &::before{
        content: " ";
        position: absolute;
        left: -20%;
        background-image:url(.././images/Email.png);

        width: 24px;
        height: 24px;
      }
    }

    &-phone{ 
      margin-right: 69px;
      font-weight: bold;
      font-size: 18px;

      &::before{
        content: " ";
        position: absolute;
        left: -10%;
        background-image:url(.././images/Phone.png);

        width: 24px;
        height: 24px;

      }
    }
  }
  &__menu{
    margin-top: 20px;

    &-link{
      margin-right: 32px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__title{
    margin-top: 106px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 90px;
    width: 724px;
  }

  &__text{
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;

    margin-top: 8px;
  }

  

  
    
}
