.recreation{
     min-height: 1049px;
     

     &__title{
        font-weight: bold;
        font-size: 44px;
        line-height: 130%;  
        text-align: center;
        text-transform: uppercase;

        padding: 80px 0 45px;

        
     }

     &__wrapper{
        display: flex;
        position: relative;
        border-bottom:  1px solid #D9D9DE;
     }

     &__img:nth-child(2){
        position: relative;
        top: -19%;
        left: 23%;
     }

     &__text{
         max-width: 736px;
         margin: 0;
     }

     &__facts{
        display: flex;
        justify-content: space-between;
        padding: 41px 0 85px;
     }

     &__subtitle{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
     }

     &__modification{
      font-family: 'PT Serif', serif;  
      font-style: normal;
      font-weight: bold;
      font-size: 58px;
      line-height: 130%;
           
      color: #64BD22;
     }


}